.contentRow5{
	height: 286px;
}
.partner1Image{
	position: relative;
	top: 110px;
	height: 48px;
	width: 114px !important;
	font-size: 10px;
	min-height: 50px;
}
.partner2Image{
	position: relative;
	top: 90px;
	height: 81px;
	width: 101px !important;
	left: 60px;
}
.partner3Image{
	position: relative;
	top: 100px;
	height: 65px;
	width: 116px !important;
	left: 140px;
}
.partner4Image{
	position: relative;
	top: 90px;
	height: 86px;
	width: 110px !important;
	left: 230px;
}
.partner5Image{
	position: relative;
	top: 100px;
	height: 68px;
	width: 127px !important;
	left: 320px;
}
.partner6Image{
	position: relative;
	top: 90px;
	height: 82px;
	width: 115px !important;
	left: 410px;
}