.contentRow4{
	background: rgb(245, 245, 245);
	height: 596px;
}
.topTxt{
	top: 50px;
}
.topIcon{
	top: 60px;
	left: 20px;
}
.topRow1{
	top: 144px;
	position: relative;
}
.topRow2{
	top: 144px;
	position: relative;
}
.topH1{
	top: -2px;
	position: relative;
}